# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# Couverture
.coverage
coverage.xml
htmlcov/

# Fichier de requirements genere pour le scan safety
requirements-prod.txt

# Pixi
.pixi/

# Environnements
.env
.venv/
